In [ ]:
import numpy as np
import pandas as pd

In [24]:
# traitement réalisés précédemment
prets = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/prets.csv')

# calcul du taux d'endettement
prets['taux_endettement'] = round(prets['remboursement'] * 100 / prets['revenu'], 2)

# renommer taux en taux_interet
prets.rename(columns={'taux':'taux_interet'}, inplace=True)

# calculer le cout total du pret
prets['cout_total'] = prets['remboursement'] * prets['duree']

# calculer les bénéfices mensuels réalisés
prets['benefices'] = round((prets['cout_total'] * prets['taux_interet']/100)/(24), 2)

# création d'une variable risque
prets['risque'] = 'Non'
prets.loc[prets['taux_endettement'] > 35, 'risque'] = 'Oui'

# dataframe de profils clients
profil_clients = prets.groupby('identifiant')[['remboursement','taux_endettement','cout_total','benefices']].sum()
profil_clients.reset_index(inplace=True)
profil_clients.head()

prets.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99,Non
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69,Non
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97,Non
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71,Non
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57,Non

In [4]:
#un dataframe où il y n'y a qu'une seule ligne par client, avec le résumé de ses informations (somme remboursement, du taux d'endettement, du cout_total et des bénéfices #réalisés)
profil_client =  prets.groupby('identifiant')[['remboursement', 'taux_endettement', 'cout_total', 'benefices']].sum()
print(profil_client)

# Nombre total de personnes en situation bancaire risquée à partir du taux d'endettement 
nombre_risque = profil_client.loc[profil_client['taux_endettement']> 35, :].shape[0]
print(nombre_risque)

             remboursement  taux_endettement  cout_total  benefices
identifiant
0                  1130.05             30.80    271212.0     131.99
1                  1487.85             28.02    389715.0     206.66
2                   552.54             29.50    132609.6      53.71
3                   586.03             34.80    105485.4      44.57
4                   423.61             28.70    101666.4      51.21
...                    ...               ...         ...        ...
223                 672.13             31.60    161311.2      83.95
224                1486.99             29.05    380592.0     196.75
225                 876.43             37.20    157757.4      77.04
226                2910.96             57.10    698630.4     331.85
227                 434.38             18.50    130314.0      62.82

[228 rows x 4 columns]
62

In [5]:
# bénéfice dégagé par chacune de nos agences, par types de prêts. Vous présenterez vos résultats sous la forme d'un tableau simple (via un group_by) :

benefice_degage = prets.groupby(['ville', 'type'])['benefices'].sum()
benefice_degage.reset_index()
benefice_degage

ville      type
BORDEAUX   immobilier    1681.32
LYON       automobile      47.39
           immobilier    2967.41
MARSEILLE  automobile      61.36
           immobilier    4334.55
NICE       automobile      31.15
           immobilier    2651.60
PARIS      automobile      99.50
           immobilier    9916.85
TOULOUSE   automobile      61.22
           immobilier    2076.85
Name: benefices, dtype: float64

In [10]:
#Pour aller plus loin, on souhaite avoir un tableau à double entrée (via un pivot_table) présentant cette fois ci les bénéfices moyen réalisés par chaque agence, pour #chaque type de prêt :

prets.pivot_table(index='ville', columns='type', values='benefices', aggfunc=np.mean)

/tmp/ipykernel_12477/2753628936.py:3: FutureWarning: The provided callable <function mean at 0x744888d10360> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  prets.pivot_table(index='ville', columns='type', values='benefices', aggfunc=np.mean)

type       automobile  immobilier
ville
BORDEAUX          NaN  105.082500
LYON        15.796667  118.696400
MARSEILLE   20.453333   60.202083
NICE        15.575000  139.557895
PARIS       19.900000  137.734028
TOULOUSE    20.406667   86.535417

In [12]:
clients = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/clients.csv')

print(clients)

     identifiant                           email                  nom genre
0              0       LaurentDagenais@rhyta.com     Laurent Dagenais     M
1              1           GuyMarois@fleckens.hu           Guy Marois     M
2              2       BeaufortLesage@einrot.com      Beaufort Lesage     M
3              3       RussellDurand@armyspy.com       Russell Durand     M
4              4            AlexisRiel@rhyta.com          Alexis Riel     M
..           ...                             ...                  ...   ...
145          145      JeromedeLaunay@fleckens.hu      Jeromede Launay     M
146          146           LowellPatel@rhyta.com         Lowell Patel     M
147          147  GarlandMarcheterre@fleckens.hu  Garland Marcheterre     F
148          148         OlivierAube@armyspy.com         Olivier Aube     M
149          149        FrontinoBrian@einrot.com       Frontino Brian     M

[150 rows x 4 columns]

In [16]:
data = pd.merge(clients, prets, on='identifiant')

print(data)

     identifiant                           email                  nom genre  \
0              0       LaurentDagenais@rhyta.com     Laurent Dagenais     M
1              1           GuyMarois@fleckens.hu           Guy Marois     M
2              1           GuyMarois@fleckens.hu           Guy Marois     M
3              2       BeaufortLesage@einrot.com      Beaufort Lesage     M
4              3       RussellDurand@armyspy.com       Russell Durand     M
..           ...                             ...                  ...   ...
157          147  GarlandMarcheterre@fleckens.hu  Garland Marcheterre     F
158          147  GarlandMarcheterre@fleckens.hu  Garland Marcheterre     F
159          148         OlivierAube@armyspy.com         Olivier Aube     M
160          148         OlivierAube@armyspy.com         Olivier Aube     M
161          149        FrontinoBrian@einrot.com       Frontino Brian     M

         ville     CP  revenu  remboursement  duree        type  taux_interet  \
0     TOULOUSE  31100  3669.0        1130.05    240  immobilier         1.168
1        PARIS  75009  5310.0         240.00     64  automobile         3.701
2        PARIS  75009  5310.0        1247.85    300  immobilier         1.173
3    MARSEILLE  13010  1873.0         552.54    240  immobilier         0.972
4    MARSEILLE  13010  1684.0         586.03    180  immobilier         1.014
..         ...    ...     ...            ...    ...         ...           ...
157  MARSEILLE  13015  1288.0         199.64    240  immobilier         1.123
158  MARSEILLE  13015  1288.0         269.80     30  automobile         3.314
159   TOULOUSE  31000  1872.0         250.50     80  automobile         3.519
160   TOULOUSE  31000  1872.0         301.39    180  immobilier         0.961
161       NICE   6300  2590.0         805.49    180  immobilier         1.186

     taux_endettement  cout_total  benefices risque
0               30.80    271212.0     131.99    Non
1                4.52     15360.0      23.69    Non
2               23.50    374355.0     182.97    Non
3               29.50    132609.6      53.71    Non
4               34.80    105485.4      44.57    Non
..                ...         ...        ...    ...
157             15.50     47913.6      22.42    Non
158             20.95      8094.0      11.18    Non
159             13.38     20040.0      29.38    Non
160             16.10     54250.2      21.72    Non
161             31.10    144988.2      71.65    Non

[162 rows x 15 columns]

In [18]:
clients_1 = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/clients.csv')
clients_1.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [20]:
clients_2 = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/clients_suite.csv')
clients_2.head()

   identifiant                          email                 nom genre
0          150         RochMireault@gustr.com       Roch Mireault     M
1          151       NathalieCormier@cuvox.de    Nathalie Cormier     F
2          152      VallisMainville@gustr.com    Vallis Mainville     M
3          153  DanielleNeufville@teleworm.us  Danielle Neufville     F
4          154      AllyrianeRacine@gustr.com    Allyriane Racine     F

In [22]:
clients = pd.concat([clients_1, clients_2], ignore_index=True)
clients

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [28]:
data = pd.merge(clients, profil_clients, on='identifiant', how='left')
data

,identifiant,email,nom,genre,remboursement,taux_endettement,cout_total,benefices
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,1130.05,30.80,271212.0,131.99
1,1,GuyMarois@fleckens.hu,Guy Marois,M,1487.85,28.02,389715.0,206.66
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,552.54,29.50,132609.6,53.71
3,3,RussellDurand@armyspy.com,Russell Durand,M,586.03,34.80,105485.4,44.57
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,423.61,28.70,101666.4,51.21
...,...,...,...,...,...,...,...,...
223,223,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,672.13,31.60,161311.2,83.95
224,224,ApollineMichaud@superrito.com,Apolline Michaud,F,1486.99,29.05,380592.0,196.75
225,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,876.43,37.20,157757.4,77.04
226,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,2910.96,57.10,698630.4,331.85
227,227,FrancisMasse@jourrapide.com,Francis Masse,M,434.38,18.50,130314.0,62.82

In [29]:
clients_age = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/client_age.csv')
clients_age.head()

   identifiant  age
0            0   54
1            1   23
2            2   30
3            3   42
4            4   47

In [30]:
data = pd.merge(data, clients_age, on='identifiant', how='left')
data

,identifiant,email,nom,genre,remboursement,taux_endettement,cout_total,benefices,age
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,1130.05,30.80,271212.0,131.99,54.0
1,1,GuyMarois@fleckens.hu,Guy Marois,M,1487.85,28.02,389715.0,206.66,23.0
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,552.54,29.50,132609.6,53.71,30.0
3,3,RussellDurand@armyspy.com,Russell Durand,M,586.03,34.80,105485.4,44.57,42.0
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,423.61,28.70,101666.4,51.21,47.0
...,...,...,...,...,...,...,...,...,...
223,223,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,672.13,31.60,161311.2,83.95,30.0
224,224,ApollineMichaud@superrito.com,Apolline Michaud,F,1486.99,29.05,380592.0,196.75,27.0
225,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,876.43,37.20,157757.4,77.04,29.0
226,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,2910.96,57.10,698630.4,331.85,26.0
227,227,FrancisMasse@jourrapide.com,Francis Masse,M,434.38,18.50,130314.0,62.82,27.0